{% set recurringOrders = craft.recurringOrders %}
{% set settings = recurringOrders.settings %}

<style>

    #recurringOrder {
        margin-top: 1em;
    }

</style>

{% set statusColors = {
    'active': 'green',
    'cancelled': 'black',
    'error': 'red',
    'paused': 'yellow',
    'unscheduled': 'orange',
} %}

{% set statusButtons = {
    'active': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'unscheduled': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'cancelled': [
        { label: 'Re-Activate', action: 'recurring-orders/orders/make-order-recurring', },
    ],
    'error': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'paused': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Resume', action: 'recurring-orders/orders/make-order-recurring', },
    ],
} %}


<div id="recurringOrder" class="meta">

    <h3 class="order-title">
        {{ recurringOrders.t("Recurring Order") }}
    </h3>

    {% if order.isRecurring %}

        <div id="recurringOrder-status" class="field">
            <div class="heading">
                <label id="recurringOrder-status-label" for="recurringOrder-status">
                    {{ recurringOrders.t("Status") }}
                </label>
            </div>
            <div class="input ltr">
                <span class="status {{ statusColors[order.recurringOrderStatus] }}"></span>
                {{ recurringOrders.t("_status:"~order.recurringOrderStatus) }}
                {% if order.recurringOrderStatus === 'active' %}
                    &mdash; {{ recurringOrders.t("every {interval}", {interval: order.getHumanReadableRecurrenceInterval()}) }}
                {% endif %}
                {% for button in statusButtons[order.recurringOrderStatus] %}
                    <a class="small btn right edit" style="margin:2px" href="{{ actionUrl(button.action, {id: order.id}) }}">
                        {{ recurringOrders.t(button.label) }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div id="recurringOrder-recurrenceInterval" class="field">
            <div class="heading">
                <label for="recurringOrder-recurrenceInterval" class="">
                    {{ recurringOrders.t("Recurrence Interval") }}
                </label>
            </div>
            <div class="input">
                {% if settings.recurrenceIntervalOptions is not empty %}
                    {% include '_includes/forms/select' with {
                        id: 'makeRecurring-recurrenceInterval',
                        name: 'makeRecurring[recurrenceInterval]',
                        value: order.recurrenceInterval,
                        options: settings.recurrenceIntervalOptions,
                    } %}
                {% else %}
                    {% include '_includes/forms/text' with {
                        id: 'makeRecurring-recurrenceInterval',
                        name: 'makeRecurring[recurrenceInterval]',
                        value: order.recurrenceInterval,
                    } %}
                {% endif %}
            </div>
        </div>

        {% if order.recurringOrderStatus == 'error' %}

            <div id="recurringOrder-errorReason" class="field">
                <div class="heading">
                    <label for="recurringOrder-errorReason" class="">
                        {{ recurringOrders.t("Error Reason") }}
                    </label>
                </div>
                <div class="input">
                    {{ order.recurringOrderErrorReason }}
                    {# TODO: Translate. #}
                </div>
            </div>

            <div id="recurringOrder-errorReason" class="field">
                <div class="heading">
                    <label for="recurringOrder-errorReason" class="">
                        {{ recurringOrders.t("Error Count") }}
                    </label>
                </div>
                <div class="input">
                    {{ order.recurringOrderErrorCount }}
                </div>
            </div>

        {% endif %}

        <div id="recurringOrder-lastRecurrence" class="field">
            <div class="heading">
                <label for="recurringOrder-lastRecurrence" class="">
                    {{ recurringOrders.t("Last Recurrence") }}
                </label>
            </div>
            <div class="input">
                {% if order.lastRecurrence %}
                    {{ order.lastRecurrence | date }}
                {% else %}
                    &mdash;
                {% endif %}
            </div>
        </div>

        <div id="recurringOrder-nextRecurrence" class="field">
            <div class="heading">
                <label for="recurringOrder-nextRecurrence" class="">
                    {{ recurringOrders.t("Next Recurrence") }}
                </label>
            </div>
            <div class="input">
                {% include '_includes/forms/date' with {
                    id: 'makeRecurring-nextRecurrence',
                    name: 'makeRecurring[nextRecurrence]',
                    value: order.nextRecurrence,
                } %}
            </div>
        </div>

        {# TODO: Schedule now? #}
        {# TODO: Show payment source? #}

    {% else %}

        <div id="recurringOrder-status" class="field">
            <div class="heading">
                <label id="recurringOrder-status-label" for="recurringOrder-status">
                    {{ recurringOrders.t("Status") }}
                </label>
            </div>
            <div class="input ltr">
                <span class="commerceStatusLabel">
                    <span class="status red"></span>
                    {{ recurringOrders.t("Not Recurring") }}
                </span>
                <a class="small btn right edit" style="margin:2px" href="{{ actionUrl('recurring-orders/orders/make-order-recurring', {id: order.id}) }}">
                    {{ recurringOrders.t("Make Recurring") }}
                </a>
            </div>
        </div>

    {% endif %}

</div>

{# TODO: Add link to Parent Order if this is a Generated Order. #}
{# TODO: (Probably shouldn't show Recurrence controls on Generated Orders unless they are already recurring...?) #}
