{% set statusButtons = {
    'active': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'unscheduled': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'cancelled': [
        { label: 'Re-Activate', action: 'recurring-orders/orders/make-order-recurring', },
    ],
    'error': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'paused': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Resume', action: 'recurring-orders/orders/make-order-recurring', },
    ],
} %}

<div class="meta">

    <h3 class="order-title">
        {{ recurringOrders.t("Recurring Order") }}
    </h3>

    {% if order.parentOrderId %}

        <div id="recurringOrder-parentOrder" class="field">
            <div class="heading">
                <label for="recurringOrder-parentOrder">
                    {# TODO: Translate. #}
                    Parent Order
                </label>
            </div>
            <div class="input ltr">
                {{ order.parentOrder.getLink | raw }}
            </div>
        </div>

    {% endif %}

    {% if order.originatingOrderId %}

        <div id="recurringOrder-originatingOrder" class="field">
            <div class="heading">
                <label for="recurringOrder-originatingOrder">
                    {# TODO: Translate. #}
                    Originating Order
                </label>
            </div>
            <div class="input ltr">
                {{ order.originatingOrder.getLink | raw }}
            </div>
        </div>

    {% endif %}

    {% if order.hasRecurrenceStatus %}

        <div id="recurringOrder-status" class="field">
            <div class="heading">
                <label for="recurringOrder-status">
                    {{ recurringOrders.t("Status") }}
                </label>
            </div>
            <div class="input ltr">
                {% include 'recurring-orders/cp/_includes/_statusLabel' with {status: order.recurrenceStatus} %}
                {% for button in statusButtons[order.recurrenceStatus] %}
                    <a class="small btn right edit" style="margin:2px" href="{{ actionUrl(button.action, {id: order.id}) }}">
                        {{ recurringOrders.t(button.label) }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div id="recurringOrder-recurrenceInterval" class="field">
            <div class="heading">
                <label for="recurringOrder-recurrenceInterval" class="">
                    {{ recurringOrders.t("Recurrence Interval") }}
                </label>
            </div>
            <div class="input">
                <span>
                {% if settings.recurrenceIntervalOptions is not empty %}
                    {% include '_includes/forms/select' with {
                        id: 'makeRecurring-recurrenceInterval',
                        name: 'makeRecurring[recurrenceInterval]',
                        value: order.getRecurrenceInterval(),
                        options: settings.getRecurrenceIntervalOptions(),
                    } %}
                {% else %}
                    {% include '_includes/forms/text' with {
                        id: 'makeRecurring-recurrenceInterval',
                        name: 'makeRecurring[recurrenceInterval]',
                        value: order.getRecurrenceInterval(),
                    } %}
                {% endif %}
                </span>
            </div>
        </div>

        {% if order.recurrenceStatus == 'error' %}

            <div id="recurringOrder-errorReason" class="field">
                <div class="heading">
                    <label for="recurringOrder-errorReason" class="">
                        {{ recurringOrders.t("Error Reason") }}
                    </label>
                </div>
                <div class="input">
                    {{ order.recurrenceErrorReason }}
                    {# TODO: Translate. #}
                </div>
            </div>

            <div id="recurringOrder-errorReason" class="field">
                <div class="heading">
                    <label for="recurringOrder-errorReason" class="">
                        {{ recurringOrders.t("Error Count") }}
                    </label>
                </div>
                <div class="input">
                    {{ order.recurrenceErrorCount }}
                </div>
            </div>

        {% endif %}

        <div id="recurringOrder-lastRecurrence" class="field">
            <div class="heading">
                <label for="recurringOrder-lastRecurrence" class="">
                    {{ recurringOrders.t("Last Recurrence") }}
                </label>
            </div>
            <div class="input">
                {% if order.lastRecurrence %}
                    {{ order.lastRecurrence | datetime('short') }}
                {% else %}
                    &mdash;
                {% endif %}
            </div>
        </div>

        <div id="recurringOrder-nextRecurrence" class="field">
            <div class="heading">
                <label for="recurringOrder-nextRecurrence" class="">
                    {{ recurringOrders.t("Next Recurrence") }}
                </label>
            </div>
            <div class="input">
                <span>
                    {% include '_includes/forms/date' with {
                        id: 'makeRecurring-nextRecurrence',
                        name: 'makeRecurring[nextRecurrence]',
                        value: order.nextRecurrence,
                    } %}
                </span>
                {# TODO: Schedule now! #}
                <a class="small btn right edit" style="margin:2px" href="#">
                    {{ recurringOrders.t("Process Now") }}
                </a>
            </div>
        </div>

        {# TODO: Show payment source? #}

    {% else %}

        <div id="recurringOrder-status" class="field">
            <div class="heading">
                <label for="recurringOrder-status">
                    {{ recurringOrders.t("Status") }}
                </label>
            </div>
            <div class="input ltr">
                <span class="commerceStatusLabel">
                    {% include 'recurring-orders/cp/_includes/_statusLabel' %}
                </span>
                <a class="small btn right edit" style="margin:2px" href="{{ actionUrl('recurring-orders/orders/make-order-recurring', {id: order.id}) }}">
                    {{ recurringOrders.t("Make Recurring") }}
                </a>
            </div>
        </div>

    {% endif %}

</div>
