{% set recurringOrders = craft.recurringOrders %}
{% set settings = recurringOrders.settings %}

{% set derivedOrders = order.findDerivedOrders().all() %}

{% set hideControlsForGeneratedOrder = craft.recurringOrders.getSettings().hideRecurrenceControlsForGeneratedOrders %}
{% set hideControlsForOriginatingOrder = craft.recurringOrders.getSettings().hideRecurrenceControlsForOriginatingOrders %}
{% set showRecurringOrderControls =
    order.hasRecurrenceStatus
    or not (
        ((derivedOrders | length) and hideControlsForOriginatingOrder)
        or (order.parentOrderId and hideControlsForGeneratedOrder)
    )
%}

{% set recurringOrderHistory = order.getRecurringOrderHistory() %}


<style>

    #recurringOrders_derivedOrders,
    #recurringOrders_orderControls,
    #recurringOrders_generatedRecurrences {
        margin-top: 1em;
        margin-bottom: 3em;
    }

    #recurring-orders-derived-orders-vue-admin-table {
        margin-top: 1em;
        padding: 24px;
    }

</style>


{% if order.parentOrderId %}

<div class="meta">

    <h3 class="order-title">
        {{ recurringOrders.t("Generated Order") }}
    </h3>

    <div id="recurringOrder-parentOrder" class="field">
        <div class="heading">
            <label for="recurringOrder-parentOrder">
                {# TODO: Translate. #}
                Generated from
            </label>
        </div>
        <div class="input ltr">
            {{ order.parentOrder.getLink | raw }}
        </div>
    </div>

</div>

{% endif %}



{% if derivedOrders | length %}

    <div id="recurringOrders_derivedOrders">

        <h3 class="order-title">
            {{ recurringOrders.t("Derived Recurring Orders") }}
        </h3>

        {% include 'recurring-orders/cp/_includes/_recurringOrdersTable' with {orders: derivedOrders} only %}

    </div>

{% endif %}



{% if showRecurringOrderControls %}

    <div id="recurringOrders_orderControls">

        {% include 'recurring-orders/cp/_includes/_orderControls' %}

    </div>

{% endif %}



{% if order.hasRecurrenceStatus %}

{#    {% set generatedOrders = order.findGeneratedOrders().all() %}#}

    <div id="recurringOrders_generatedRecurrences">

        <h3 class="order-title" style="margin: 3em 0 14px;">
            {{ recurringOrders.t("Generated Orders") }}
        </h3>

        {% include 'recurring-orders/cp/_includes/_generatedOrdersTable' %}

    </div>

{% endif %}


{% if recurringOrderHistory | length > 1 %}

<div id="recurringOrders_history">

    <div class="pane">

        {# TODO: Translate. #}
        <h3>Recurring Order History</h3>

        <table>
        {% for record in recurringOrderHistory %}
            <tr>
                <td>
                    {{ record.dateCreated | date }}
                </td>
                <td>
                    {% if record.updatedByUserId %}
                        {% set updatedByUser = craft.app.users.getUserById(record.updatedByUserId) %}
                        {% if updatedByUser %}
                            <a href="{{ updatedByUser.cpEditUrl }}">{{ updatedByUser.friendlyName }}</a>
                        {% endif %}
                    {% endif %}

                </td>
                <td>
                    {% for attribute, value in record.getAttributes(['status', 'errorReason', 'errorCount', 'recurrenceInterval']) if value %}
                        <strong>{{ attribute | title }}</strong>: {{ value }}<br>
                    {% endfor %}
                </td>
            </tr>
            <p>

            </p>
        {% endfor %}
        </table>

    </div>

</div>

{% endif %}
