{#
This template expects:
 - `orders`
#}

<div>
    <table class="data fullwidth">

        <thead>
        <tr>
            <th>{{ "Reference" | t('commerce') }}</th>
            <th>{{ "Recurrence Status" | t('recurring-orders') }}</th>
            <th>{{ "Total" | t('commerce') }}</th>
            <th>{{ "Order Date" | t('commerce') }}</th>
        </tr>
        </thead>

        <tbody>

        {% for order in orders %}

            <tr>
                <td>
                    <a href="{{ order.getCpEditUrl() }}" class="cell-bold">{{ order.reference }}</a>
                </td>
                <td>
                    {% include 'recurring-orders/cp/_includes/_statusLabel' with {
                        status: order.recurrenceStatus
                    } only %}
                </td>
                <td>
                    {{ order.totalPrice | currency(order.currency) }}
                </td>
                <td>
                    {{ order.dateOrdered|datetime('short') }}
                </td>
            </tr>

        {% endfor %}

        </tbody>

    </table>
</div>
