{% import "_includes/forms" as forms %}

{% set recurringOrders = craft.app.getModule('recurring-orders') %}
{% set settings = recurringOrders.getSettings() %}

{% set statusButtons = {
    'active': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'unscheduled': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'cancelled': [
        { label: 'Re-Activate', action: 'recurring-orders/orders/make-order-recurring', },
    ],
    'error': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'paused': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Resume', action: 'recurring-orders/orders/make-order-recurring', },
    ],
} %}

<div class="pane" style="padding: 0;">
<div class="meta">

    {% if order.originatingOrderId %}

        <div id="recurringOrder-originatingOrder" class="field">
            <div class="heading">
                <label for="recurringOrder-originatingOrder">
                    {# TODO: Translate. #}
                    Derived from
                </label>
            </div>
            <div class="input ltr">
                {# TODO: Add a "Deleted" message/hint? #}
                {{ (order.originatingOrder.getLink ?? order.originatingOrderId) | raw }}
            </div>
        </div>

    {% endif %}

    {% if order.hasRecurrenceStatus %}

        {# TODO: In dynamic fields view, show status field as a dropdown, and hide the action buttons. #}
        <div id="recurringOrder-status" class="field">
            <div class="heading">
                <label for="recurringOrder-status">
                    {{ "Status" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input ltr">
                {% include 'recurring-orders/cp/_includes/_statusLabel' with {status: order.recurrenceStatus} %}
                {% for button in statusButtons[order.recurrenceStatus] %}
                    <a class="small btn right edit _ formsubmit" data-action="{{ button.action }}" data-param="id" data-value="{{ order.id }}" style="margin:2px">
                        {{ button.label | t('recurring-orders') }}
                    </a>
                {% endfor %}
            </div>
        </div>

        {% if order.recurrenceStatus == 'error' %}

            <div id="recurringOrder-errorReason" class="field">
                <div class="heading">
                    <label for="recurringOrder-errorReason" class="">
                        {{ "Error Reason" | t('recurring-orders') }}
                    </label>
                </div>
                <div class="input">
                    {{ order.recurrenceErrorReason }}
                    {# TODO: Translate. #}
                </div>
            </div>

            <div id="recurringOrder-errorReason" class="field">
                <div class="heading">
                    <label for="recurringOrder-errorReason" class="">
                        {{ "Error Count" | t('recurring-orders') }}
                    </label>
                </div>
                <div class="input">
                    {{ order.recurrenceErrorCount }}
                </div>
            </div>

        {% endif %}

        <div id="recurringOrder-recurrenceInterval" class="field">
            <div class="heading">
                <label for="recurringOrder-recurrenceInterval" class="">
                    {{ "Recurrence Interval" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input">
                <span>
                {% if settings.recurrenceIntervalOptions is not empty %}
                    {% include '_includes/forms/select' with {
                        id: 'recurringOrder-recurrenceInterval',
                        name: 'recurringOrder[recurrenceInterval]',
                        value: order.getRecurrenceInterval(),
                        options: settings.getRecurrenceIntervalOptions(),
                    } %}
                {% else %}
                    {% include '_includes/forms/text' with {
                        id: 'recurringOrder-recurrenceInterval',
                        name: 'recurringOrder[recurrenceInterval]',
                        value: order.getRecurrenceInterval(),
                    } %}
                {% endif %}
                </span>
            </div>
        </div>

        <div id="recurringOrder-lastRecurrence" class="field">
            <div class="heading">
                <label for="recurringOrder-lastRecurrence" class="">
                    {{ "Last Recurrence" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input">
                {% if order.lastRecurrence %}
                    {{ order.lastRecurrence | datetime('short') }}
                {% else %}
                    &mdash;
                {% endif %}
            </div>
        </div>

        <div id="recurringOrder-nextRecurrence" class="field">
            <div class="heading">
                <label for="recurringOrder-nextRecurrence" class="">
                    {{ "Next Recurrence" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input">
                <div id="floatingDateTimeFieldWrapper" style="display: inline-block; float: left;">
                    {{ forms.dateTimeField({
                        id: 'recurringOrder-nextRecurrence',
                        name: 'recurringOrder[nextRecurrence]',
                        value: order.nextRecurrence,
                        errors: order.getErrors('nextRecurrence'),
                        disabled: false,
                    }) }}
                </div>
            </div>
        </div>

        <div id="recurringOrder-paymentSourceId" class="field">
            <div class="heading">
                <label for="recurringOrder-paymentSourceId" class="">
                    {# TODO: Translate. #}
                    {{ "Payment Source" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input">
                <span>
                    {% include '_includes/forms/select' with {
                        id: 'recurringOrder-paymentSourceId',
                        name: 'recurringOrder[paymentSourceId]',
                        value: order.getRecurrencePaymentSourceId(),
                        options: recurringOrders.orders.getPaymentSourceFormOptionsByOrder(order),
                    } %}
                </span>
            </div>
        </div>

        {# TODO: Show payment source? #}

        <div id="recurringOrder-note" class="field">
            <div class="heading">
                <label for="recurringOrder-note" class="">
                    {# TODO: Translate. #}
                    {{ "Note" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input">
                <span>
                    {% include '_includes/forms/textarea' with {
                        id: 'recurringOrder-note',
                        name: 'recurringOrder[note]',
                        value: order.getRecurrenceNote(),
                    } %}
                </span>
            </div>
        </div>

    {% else %}

        <div id="recurringOrder-status" class="field">
            <div class="heading">
                <label for="recurringOrder-status">
                    {{ "Status" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input ltr">
                <span class="commerceStatusLabel">
                    {% include 'recurring-orders/cp/_includes/_statusLabel' %}
                </span>
            </div>
        </div>

    {% endif %}

</div>
</div>
