{% set order = order ?? element %}

{# TODO: Translate. #}
<h3>
    Recurring Order History
</h3>

<div class="pane">

    <table>
        {# `reverse` to show in descending chronological order. #}
        {% for record in order.getRecurringOrderHistory() | reverse %}
            <tr>
                <td>
                    {{ record.dateCreated | date }}
                </td>
                <td>
                    {% if record.updatedByUserId %}
                        {% set updatedByUser = craft.app.users.getUserById(record.updatedByUserId) %}
                        {% if updatedByUser %}
                            <a href="{{ updatedByUser.cpEditUrl }}">{{ updatedByUser.friendlyName }}</a>
                        {% endif %}
                    {% endif %}

                </td>
                <td>
                    {% for attribute, value in record.getAttributes(['status', 'errorReason', 'errorCount', 'recurrenceInterval', 'note']) if value and (attribute in record.updatedAttributes) %}
                        <strong>{{ attribute | title }}</strong>: {{ value }}<br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

</div>
