{% import "_includes/forms" as forms %}

{% set statusButtons = {
    'active': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'unscheduled': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'cancelled': [
        { label: 'Re-Activate', action: 'recurring-orders/orders/make-order-recurring', },
    ],
    'error': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Pause', action: 'recurring-orders/orders/pause-recurring-order', },
    ],
    'paused': [
        { label: 'Cancel', action: 'recurring-orders/orders/cancel-recurring-order', },
        { label: 'Resume', action: 'recurring-orders/orders/make-order-recurring', },
    ],
} %}

<div class="pane" style="padding: 0;">
<div class="meta">

    {% if order.originatingOrderId %}

        <div id="recurringOrder-originatingOrder" class="field">
            <div class="heading">
                <label for="recurringOrder-originatingOrder">
                    {# TODO: Translate. #}
                    Derived from
                </label>
            </div>
            <div class="input ltr">
                {# TODO: Add a "Deleted" message/hint? #}
                {{ (order.originatingOrder.getLink ?? order.originatingOrderId) | raw }}
            </div>
        </div>

    {% endif %}

    {% if order.hasRecurrenceStatus %}

        <div id="recurringOrder-status" class="field">
            <div class="heading">
                <label for="recurringOrder-status">
                    {{ "Status" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input ltr">
                {% include 'recurring-orders/cp/_includes/_statusLabel' with {status: order.recurrenceStatus} %}
                {% for button in statusButtons[order.recurrenceStatus] %}
                    <a class="small btn right edit _ formsubmit" data-action="{{ button.action }}" data-param="id" data-value="{{ order.id }}" style="margin:2px">
                        {{ button.label | t('recurring-orders') }}
                    </a>
                {% endfor %}
            </div>
        </div>

        {% if order.recurrenceStatus == 'error' %}

            <div id="recurringOrder-errorReason" class="field">
                <div class="heading">
                    <label for="recurringOrder-errorReason" class="">
                        {{ "Error Reason" | t('recurring-orders') }}
                    </label>
                </div>
                <div class="input">
                    {{ order.recurrenceErrorReason }}
                    {# TODO: Translate. #}
                </div>
            </div>

        {% endif %}

        {% if order.recurrenceErrorCount %}

            <div id="recurringOrder-errorReason" class="field">
                <div class="heading">
                    <label for="recurringOrder-errorReason" class="">
                        {{ "Error Count" | t('recurring-orders') }}
                    </label>
                </div>
                <div class="input">
                    {{ order.recurrenceErrorCount }}
                </div>
            </div>

        {% endif %}

        <div id="recurringOrder-recurrenceInterval" class="field">
            <div class="heading">
                <label for="recurringOrder-recurrenceInterval" class="">
                    {{ "Recurrence Interval" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input">
                {{ order.getRecurrenceInterval() }}
            </div>
        </div>

        <div id="recurringOrder-lastRecurrence" class="field">
            <div class="heading">
                <label for="recurringOrder-lastRecurrence" class="">
                    {{ "Last Recurrence" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input">
                {% if order.lastRecurrence %}
                    {{ order.lastRecurrence | datetime('short') }}
                {% else %}
                    &mdash;
                {% endif %}
            </div>
        </div>

        <div id="recurringOrder-nextRecurrence" class="field">
            <div class="heading">
                <label for="recurringOrder-nextRecurrence" class="">
                    {{ "Next Recurrence" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input">

                {% if order.nextRecurrence %}
                    {{ order.nextRecurrence | datetime('short') }}
                {% else %}
                    &mdash;
                {% endif %}

                {# TODO: canProcessOrderRecurrenceManually config #}
                <a class="small btn right edit _ formsubmit" data-action="recurring-orders/orders/process-order-recurrence" data-confirm="Are you sure you want to immediately process this Order recurrence?" data-param="id" data-value="{{ order.id }}" style="margin:2px">
                    {{ "Process Now" | t('recurring-orders') }}
                </a>

            </div>
        </div>

        <div id="recurringOrder-paymentSourceId" class="field">
            <div class="heading">
                <label for="recurringOrder-paymentSourceId" class="">
                    {# TODO: Translate. #}
                    {{ "Payment Source" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input">
                <span>
                    {% if order.getRecurrencePaymentSource %}
                        {{ order.getRecurrencePaymentSource.description }}
                    {% else %}
                        &mdash;
                    {% endif %}
                </span>
            </div>
        </div>

        {# TODO: Show payment source? #}

        <div id="recurringOrder-note" class="field">
            <div class="heading">
                <label for="recurringOrder-note" class="">
                    {# TODO: Translate. #}
                    {{ "Note" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input">
                <span>
                    {% if order.getRecurrenceNote %}
                        {{ order.getRecurrenceNote | nl2br }}
                    {% else %}
                        &mdash;
                    {% endif %}
                </span>
            </div>
        </div>

    {% else %}

        <div id="recurringOrder-status" class="field">
            <div class="heading">
                <label for="recurringOrder-status">
                    {{ "Status" | t('recurring-orders') }}
                </label>
            </div>
            <div class="input ltr">
                <span class="commerceStatusLabel">
                    {% include 'recurring-orders/cp/_includes/_statusLabel' %}
                </span>
                <span class="right">
                    {% if order.isCompleted %}
                    <a class="small btn edit" style="margin:2px" href="{{ actionUrl('recurring-orders/orders/replicate-as-recurring', {id: order.id}) }}">
                        {{ "Replicate as Recurring" | t('recurring-orders') }}
                        {# TODO: Translate #}
                    </a>
                    {% endif %}
                    <a class="small btn edit" style="margin:2px" href="{{ actionUrl('recurring-orders/orders/make-order-recurring', {id: order.id }) }}">
                        {{ "Convert to Recurring" | t('recurring-orders') }}
                        {# TODO: Back to "Make Recurring" #}
                    </a>
                </span>
            </div>
        </div>

    {% endif %}

</div>
</div>
